
@font-face {
    font-family: 'Lemon/Milk light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lemon/Milk light Regular'), url('LemonMilklight.woff') format('woff');
    }
.span5{
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Lemon/Milk light Regular';
    
}